@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

input {
  background-color: #000;
  height: 45px;
  width: 100%;
  color: #fff;
}
button {
  background-color: #271d20;
  border: 1px solid #fff;
  color: #fff;
  height: 50px;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scrollbar css  */
::-webkit-scrollbar {width: 4px;border-radius: 10px;}
::-webkit-scrollbar-track {background: #2c2225;}
::-webkit-scrollbar-thumb {background: #fff; border-radius: 10px;}